#page{
    margin-bottom: 0;
    height: : 100%;
}

#header {
	width: 100%;
    height: 50px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    text-align: center;

    display: inline-flex;
}

#logo {
    height: 100%;  
    position: relative;
    font-size: 24px;
    width: fit-content;
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 50px;

}
#menu{
	width: fit-content;
    height: 100%;  
    text-align: center;     
    position: relative;

    cursor:pointer;
    display: inline;

}
#user_area{
    height: 50px;  
    position: absolute;
    font-size: 16px;
    width: fit-content;
    display: inline;
    line-height: 50px;
    right:15px;
    font-weight: bold;
    display: inline-flex;

}
#user_area_photo{
    width: 40px;
    margin-top:5px;
    margin-right:15px;
    height: 40px;  
    border-radius: 100%;
    background-image: url('https://scontent.fudi1-1.fna.fbcdn.net/v/t1.0-1/c0.0.160.160/p160x160/26992634_1380732198698921_4856067253155580376_n.jpg?_nc_cat=0&oh=627af9e78bc35fbb2e00d418986cbbf6&oe=5BD12BE3');
    background-size: 100%;

}







#content{
	width: 100%;
    top:50px;
    position: absolute;
    margin: 0px;
    padding;0px;
    text-align: center;
}
#divContent{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}






#footer{
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    text-align: center;

}
