#body {
    height: 100%;
    position:absolute;
}
::-webkit-input-placeholder {
    color: #FFF;
}

:-moz-placeholder { /* Firefox 18- */
    color: #FFF;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #FFF;
}

:-ms-input-placeholder {
    color: #FFF;
}

#username {
    border: 2px solid fuchsia;
    border-radius: 30px ;
    outline: none;
    background-color:  #337ab7;
    border-color:  #FFF;
    padding-left: 15px;
    width: 200px;
    color: #FFF;
    height: 35px;
}

#password {
    border: 2px solid fuchsia;
    border-radius: 30px;
    outline: none;
    background-color:  #337ab7;
    border-color:  #FFF;
    padding-left: 15px;
    margin-top: 10px;
    width: 200px;
    color: #FFF;
    height: 35px;
}

#boxLogin {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

#btnAccess {
    background-color: #FFF;
    border-radius: 30px;
    margin-top: 20px;
    width: 200px;
    outline: none;
}

.divLine {
    margin-top:10px;
    color:#FFF;
}
