<div class="col-sm-4">
    <div class="table-left wow fadeInUp" data-wow-delay="0.4s">
      <div class="icon"> <i class="ion-ios-paperplane-outline"></i> </div>
      <div class="pricing-details">
        <h2>Starter Plan</h2>
        <span>Free</span>
        <ul>
          <li>Consectetur adipiscing</li>
          <li>Nunc luctus nulla et tellus</li>
          <li>Suspendisse quis metus</li>
          <li>Vestibul varius fermentum erat</li>
        </ul>
        <button class="btn btn-primary btn-action btn-fill">Get Plan</button>
      </div>
    </div>
  </div>